@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --bg-black-900: #f2f2fc;
  --big-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-black-900:#302e4d;
  --text-black-700:#504e70;
}

ul li {
    font-size: 25px;
    display: inline-block;
    padding: 40px;
    margin: -20px;
    margin-left: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
display: flex;
justify-content: space-around;
margin: 15px;
}

a {
text-decoration: none;
color: black;
}

.navbar-content:hover {
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
}
    
body, html {
  height: 100%;
}

.hero-image {
background-image: linear-gradient(rgba(20, 126, 175, 0.5), rgba(247, 247, 247, 0.5)), url("photographer.jpg");
height: 512px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: static;
}

.hero-text {
text-align: center;
position: absolute;
font-family: 'Poppins';
font-size: 50px;
top: 50%;
left: 50%;
padding-left: 10%;
bottom: 30px;
transform: translate(-50%, -50%);
color: white;
}
h1 {
  margin-top: -10%;
  padding-bottom: 10px;
}

#about-me-title {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
  font-family: 'Poppins';
  font-size: 48px;
  color: var(--text-black-900);
  margin-top: 20px;
}

#about-me-text {
  text-align: center;
  padding-top: 10px;
  font-family: 'Poppins';
  font-size: 18px;
  color: var(--text-black-900);
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
  line-height: 3;
}


* {box-sizing:border-box}


.container {
  padding-left: 10%;
  padding-right: 10%;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {
  width: 90%; 
  background-color: #04AA6D; 
  font-size: 50px; 
  font-family: 'Poppins';
  text-align: right
} 
.css {
  width: 65%; 
  background-color: #2196F3; 
  font-size: 50px; 
  font-family: 'Poppins';
  text-align: right
} 
.java-script {
  width: 65%; 
  background-color: #f44336; 
  font-size: 50px; 
  font-family: 'Poppins';
  text-align: right
} 
.sql {
  width: 90%; 
  background-color: #808080; 
  font-size: 50px; 
  font-family: 'Poppins'; 
  text-align: right
} 

p {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins';
  padding-bottom: 10px;
  padding-top: 10px;
}


footer {
  text-align: center;
  /* padding-top: 20%; */
  font-family: 'Poppins';
  font-size: 20px;
  color: skyblue;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  padding-bottom: 20px;
}

.layer {
  width: 100%;
  height: 100%;
  background: lightblue;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border-radius: 0 0 20px;
  text-align: center;
  padding-top: 10px;
}

#contact-me-title {
  text-align: center;
  padding-top: 15%;
  margin-top: 15%;
  font-family: 'Poppins';
  font-size: 48px;
  color: var(--text-black-900);
  margin-top: 20px;
}

#portfolio-title {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
  font-family: 'Poppins';
  font-size: 48px;
  color: var(--text-black-900);
  margin-top: 20px;
}